body {
    background-color: red;
}
#navbar {
    color: white;
    text-align: center;
}  
#noticias{
  font-family: Georgia, 'Times New Roman', Times, serif;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
background-color: rgb(38, 0, 255);
color: white;



}
.noticia{
 font-size: larger;
   
}
img{
    width: 500px;
    height: 300px;
    border: 5px solid rgb(248, 245, 245);
    margin: 15px;
    border-radius: 12px;

}
#rodape{
    text-align: justify;
   font-size: large;
   

   

}
#viloes{
    font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 0, 255);
  color: white;
  
  
  
  }
  .vilao{
    font-size: larger;
  }
 #navbar2{
    color: white;
    align-content: center;
    
 }
 
    
   
     

 

